<div style="text-align:left;">
  <h1>&#9776; Navigation</h1>
  <ul>
    <li><a href="{{site.baseurl}}/about.md">About</a></li>
    <li><a href="{{site.baseurl}}/resume.md">Resume</a></li>
  </ul>
    
  <h3>Recon</h3>
  <ul>
    [Alpha](recon/alpha.md)
  </ul>
  
  <h3>Enumeration</h3>
  <ul>
    <li><a href="{{site.baseurl}}/enumeration/bravo.md">Bravo</a></li>
  </ul>
  
  <h3>Linux</h3>
  <ul>
    <li><a href="{{site.baseurl}}/linux/charlie.md">Charlie</a></li>
  </ul>
  
  <h3>Windows</h3>
  <ul>
    <li><a href="{{site.baseurl}}/windows/delta.md">Delta</a></li>
  </ul>
  
  <h3>Writeups</h3>
  <ul>
    <li><a href="{{site.baseurl}}/writeups/echo.md">Echo</a></li>
  </ul>
</div>
